body {
    margin: 0px 0px;
}

.navbar {
    position: absolute;
    height: 30%;
}

.workspace {
    position: absolute;
    height: 100%;
    width: 100%;
}

.overcy1 {
    position: absolute;
    z-index: 1000;
}

.finalizestyle {
    position: absolute;
    display: inline;
    background-color:rgb(29, 167, 29);
    border: none;
    color: white;
    z-index: 2000;
    padding: 15px 32px;
    opacity: 0.8;
    border-radius: 10px;
}

.finalizestyle:active{
    background-color: #227e22;
    -moz-box-shadow: inset 0px 0px 5px rgb(29, 167, 29);
    box-shadow: inset 0px 0px 5px #292c29;
    transform: translateY(1.2px);
}

.resetstyle {
    position: absolute;
    left: 8.26%;
    background-color: rgb(207, 50, 50);
    border: none;
    color: white;
    z-index: 2000;
    padding: 15px 32px;
    border-radius: 10px;
}

.resetstyle:active{
    background-color: #913b3b;
    -moz-box-shadow: inset 0px 0px 5px #703e3e;
    box-shadow: inset 0px 0px 5px #292c29;
    transform: translateY(1.2px);
}

.nextstepstyle {
    position: absolute;
    left: 50%;
    background-color: rgb(40, 44, 40);
    border: none;
    color: white;
    z-index: 2000;
    padding: 15px 32px;
    border-radius: 10px;
    opacity: 0.6;
}

.finalstepstyle {
    position: absolute;
    right: 0%;
    background-color: #4CAF50;
    border: none;
    color: white;
    z-index: 2000;
    padding: 15px 32px;
    float: right;
    opacity: 0.85;
    border-radius: 10px;
}

.cy2buttons {
    visibility: hidden;
}

#cy1 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a0c2cc;
}

#cy2 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: lightgray;
}
#custom {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: lightgray;
}